.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 6rem;
    gap: 3rem;

    .conteudo {
        max-width: 480px;

        h1 {
            font-size: 3rem;
            font-weight: 700;
            line-height: 1.1;
            margin: 1.5rem  0;
            color: #000;
        }

        p {
            font-size: 1.125rem;
            color: #444;
            line-height: 1.6;
            margin-bottom: 2rem;
        }

        .buttons {
            display: flex;
            gap: 2rem;


            .btnUm {
                padding: 12px 24px;
                border-radius: 8px;
                text-decoration: none;
                font-weight: 500;
                font-size: 1rem;
                background: #00745A;
                color: #fff;

                &:hover {
                    background-color: #02634c;
                }
            }

            .btnDois {
                padding: 12px 24px;
                border-radius: 8px;
                text-decoration: none;
                font-weight: 500;
                font-size: 1rem;
                border: 2px solid #00745A;
                color: #00745A
            }
        }
    }
}

.sectionMissao{
    background: #036b5a;
    color: #fff;
    padding: 100px;     
    display: flex;
    flex-direction: column;

    .missao{
        margin-bottom: 40px;
        
        h2 {
        font-size: 42px;
        font-weight: 700;
        margin-bottom: 10px;
        
        p {
        font-size: 18px;       
        
        }    
        }
    }   
      
    .boxCards {
        display: flex;
        gap: 25px;
        
        justify-content: space-between;
        

        article {
            flex-wrap: wrap;
            width: 450px;
            height: 242px;
            padding: 48px;
            border-radius: 14px;
            border: 1px solid #FFFFFF;
            text-align: center;
            gap: 30px;

            h3 {
            font-size: 30px;
            margin-bottom: 15px;
            font-weight: 700;
            font-style: bold;
            font-size: 30px;
            }

            p {
            font-size: 30px;
            margin-bottom: 15px;
            font-weight: 400;            
            font-size: 19px;            
            }
        }
    } 
}