.section {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 6vh 8vw;
  gap: 3rem;
  min-height: 80vh;

  .conteudo {
    max-width: 30rem;
    width: 100%;

    h1 {
      font-size: 3rem;
      font-weight: 700;
      line-height: 1.1;
      margin: 1.5rem 0;
      color: #000;
    }

    p {
      font-size: 1.125rem;
      color: #444;
      line-height: 1.6;
      margin-bottom: 2rem;
    }

    .buttons {
      display: flex;
      gap: 2rem;

      a {
        text-decoration: none;
        padding: 0.6rem 1.3rem;
        border-radius: 8px;
        font-weight: 600;
        border: 1px solid #00745A;
      }

      a:first-child {
        background-color: #00745A;
        color: #fff;
      }

      a:last-child {                
        color: #00745A;
      }
    }   
  }
}

.sectionMissao {
  background: #036b5a;
  color: #fff;
  padding: 8vh 8vw;
  display: flex;
  flex-direction: column;

  .missao {
    margin-bottom: 3rem;

    h2 {
      font-size: 2.5rem;
      font-weight: 700;
      margin-bottom: 0.75rem;
    }

    p {
      font-size: 1.125rem;
    }
  }

  .boxCards {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;

    article {
      flex: 1 1 18rem;
      max-width: 28rem;

      padding: 3rem;
      border-radius: 0.875rem;
      border: 0.0625rem solid #fff;
      text-align: center;

      h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        font-weight: 700;
      }

      p {
        font-size: 1rem;
        font-weight: 400;
      }
    }
  }
}


.sectionImpacto {
  background: #fff;
  color: #000;
  padding: 8vh 8vw;
  display: flex;
  flex-direction: column;

  .impacto {
    margin-bottom: 3rem;

    h2 {
      font-size: 2.5rem;
      font-weight: 700;
      margin-bottom: 0.75rem;
    }

    p {
      font-size: 1.125rem;
    }
  }

  .boxCardsImpacto {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;

    article {
      flex: 1 1 15rem;
      max-width: 20rem;

      padding: 3rem;
      border-radius: 0.875rem;
      border: 0.0625rem solid #000;
      text-align: center;

      h3 {
        font-size: 3rem;
        font-weight: 700;
        color: #00745A;
      }

      p {
        font-size: 1rem;
        font-weight: 500;
      }
    }
  }
}

@media (max-width: 768px) {
  .section {
    flex-direction: column;
    text-align: center;
  }

  .buttons {
    justify-content: center;
  }
}

